name: Lint source code, documentation

on:

  workflow_dispatch:

  workflow_call:

jobs:
  lint:
    permissions:
      actions: read
      contents: read
    uses: IT-Service-NPM/.github/.github/workflows/lint.yml@main
    secrets: inherit
